[Unit]
Description=Issue Tracker Frontend (nginx)
After=issue-tracker-backend.service
Requires=issue-tracker-backend.service

[Container]
ContainerName=frontend
Image=localhost/issue-tracker-frontend:latest
Network=issue-tracker.network
PublishPort=80:80

[Service]
Restart=always

[Install]
WantedBy=default.target
